
body{
	/*background-image: url('../img/bg1.png');*/
	background: -webkit-radial-gradient(circle, #fff, #1B1B1B);

}
.navbar a{
	/*font-size: 0.7em;*/
}

#avatar{
	width: 200px;
    height: 200px;
	border-radius: 10px;
	padding:5px;
	background-color: #000;
}
#aboutme h1{
	margin-top:10px;
	text-align: center;
	font-family: 'Underdog', cursive;
	font-size: 48px;
}
#aboutme {
	margin:10px;
	padding:5px;
	/*box-shadow: 20px 20px 15px #121;*/
	box-shadow: 3px 3px 10px 5px #000;

}
#aboutme p{
	padding:25px;
	color: #000;
	line-height: 1.3em;
	font-family: 'Underdog', cursive;
}
#socials {float:right;}
#socials li {float:left;margin-right:5px; }
#socials img {width:75px; height:75px;}
#socials img {
	opacity: 0.5;
	filter: alpha(opacity=60);
	}	
#socials img:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	}
label {padding: 5px;}
.uploadForm {/*padding: 15px;*/}
.notif {padding:5px;}
.error {font-weight: bold; color: red;}
.message {font-weight: bold; color: green;}
footer {color: gray; text-align: center;}